{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Receipt Form</title>
</head>
<body>
<h1>Receipt Form</h1>
Test Create
<br>
<form method=post action='/receipt/create'>
    <input type='text' name='receipt_no' value='<new>'>
    <input type='text' name='date' value='25/11/2019'>
    <input type='text' name='customer_code' value='ABC'>
    <input type='text' name='payment_method_code' value='CC'>
    <input type='text' name='payment_reference' value='Credit Card of SCB'>
    <input type='text' name='total_receipt' value='3'>
    <input type='text' name='remarks' value='Test payment from POST'>
    <br>
    <textarea name='lineitem' rows='4' cols='50' >{"lineitem":[{"lineitem":1,"invoice_no":"INT100/19","amount_paid_here":"3"}]}
    </textarea>
    <br>
    <input type='submit' value='Test Create'>
</form>
<br>
<br>
Test Update
<br>
<form method=post action='/receipt/update'>
    <input type='text' name='receipt_no' value='RCT1018/19'>
    <input type='text' name='date' value='26/11/2019'>
    <input type='text' name='customer_code' value='ABC'>
    <input type='text' name='payment_method_code' value='CC'>
    <input type='text' name='payment_reference' value='Credit Card of SCB'>
    <input type='text' name='total_receipt' value='10'>
    <input type='text' name='remarks' value='Test payment from POST'>
    <br>
    <textarea name='lineitem' rows='4' cols='50' >{"lineitem":[{"lineitem":1,"invoice_no":"INT100/19","amount_paid_here":"3"},{"lineitem":2,"invoice_no":"INT101/19","amount_paid_here":"7"}]}
    </textarea>
    <br>
    <input type='submit' value='Test Update'>
</form>
<br>
<br>
Test Delete
<br>
<form method=post action='/receipt/delete'>
    <input type='text' name='receipt_no' value='RCT1017/19'>
    <br>
    <input type='submit' value='Test Delete'>
</form>
</body>
</html>